@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?h3lccy');
  src:  url('fonts/icomoon.eot?h3lccy#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?h3lccy') format('truetype'),
    url('fonts/icomoon.woff?h3lccy') format('woff'),
    url('fonts/icomoon.svg?h3lccy#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

i {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak-as: none;
  font-size: x-large;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-file-text:before {
  content: "\e922";
}
.icon-file-empty:before {
  content: "\e924";
}
.icon-files-empty:before {
  content: "\e925";
}
.icon-file-text2:before {
  content: "\e926";
}
.icon-folder:before {
  content: "\e92f";
}
.icon-folder-open:before {
  content: "\e930";
}
.icon-barcode:before {
  content: "\e937";
}
.icon-qrcode:before {
  content: "\e938";
}
.icon-link:before {
  content: "\e9cb";
}
.icon-share:before {
  content: "\ea7d";
}

